<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MediaManagerMapper">
    
    <resultMap type="MediaManager" id="RyMediaManagerResult">
        <result property="id"    column="id"    />
        <result property="waterfallId"    column="waterfall_id"    />
        <result property="img"    column="img"    />
        <result property="video"    column="video"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectRyMediaManagerVo">
        select id, waterfall_id, img, video, create_by, create_time, update_by, update_time, remark from ry_media_manager
    </sql>

    <select id="selectRyMediaManagerList" parameterType="MediaManager" resultMap="RyMediaManagerResult">
        <include refid="selectRyMediaManagerVo"/>
        <where>  
            <if test="waterfallId != null  and waterfallId != ''"> and waterfall_id = #{waterfallId}</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
            <if test="video != null  and video != ''"> and video = #{video}</if>
        </where>
    </select>
    
    <select id="selectRyMediaManagerById" parameterType="Long" resultMap="RyMediaManagerResult">
        <include refid="selectRyMediaManagerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRyMediaManager" parameterType="MediaManager" useGeneratedKeys="true" keyProperty="id">
        insert into ry_media_manager
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="waterfallId != null">waterfall_id,</if>
            <if test="img != null">img,</if>
            <if test="video != null">video,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="waterfallId != null">#{waterfallId},</if>
            <if test="img != null">#{img},</if>
            <if test="video != null">#{video},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateRyMediaManager" parameterType="MediaManager">
        update ry_media_manager
        <trim prefix="SET" suffixOverrides=",">
            <if test="waterfallId != null">waterfall_id = #{waterfallId},</if>
            <if test="img != null">img = #{img},</if>
            <if test="video != null">video = #{video},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRyMediaManagerById" parameterType="Long">
        delete from ry_media_manager where id = #{id}
    </delete>

    <delete id="deleteRyMediaManagerByIds" parameterType="String">
        delete from ry_media_manager where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>